@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-yellow-100: #F1E9C9;
  --color-yellow-200: #DBAC2C;
  --color-yellow-300: #C47F17;


  --color-purple-100: #EBE5F9;
  --color-purple-200: #8047F8;
  --color-purple-300: #4B2995;
  
  --color-base-hover: #D7D5D5;
  --color-base-label: #8D8686;
  --color-base-text: #574F4D;
  --color-base-subtitle: #403937;
  --color-base-title: #272221;
  
  --color-gray-100: #FAFAFA; /* background */
  --color-gray-200: #F3F2F2; /* Card */
  --color-gray-300: #EDEDED; /* base-input */
  --color-gray-400: #E6E5E5; /* base-button */
  
  --color-background: #241f25;
  --color-white: #FFFFFF;


  --font-heading: var(--font-baloo);
  --font-text: var(--font-roboto);

  --radius-xl: 0.375rem;
}